@page
@model BallotPalette.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="text-center form-signin">
    <h1 class="display-4">Welcome</h1>
    <h1 class="h3 mb-3 font-weight-normal">Register for Ballot Palette</h1>
    <form method="post">
        @*<label asp-for="user.Username">Username</label>*@
        <input type="text" asp-for="user.Username" class="form-control" placeholder="Username" />
        @*<label class="sr-only" asp-for="user.Password">Password</label>*@
        <input type="password" asp-for="user.Password" class="form-control" placeholder="Password" />
        @*<label class="sr-only" asp-for="VerifyPassword">Verify Password</label>*@
        <input type="password" asp-for="VerifyPassword" class="form-control" placeholder="Verify Password" />
        @*<label class="sr-only" asp-for="user.TeamId">Organization</label>*@
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        @foreach (var team in Model.Teams)
        {
        <label class="btn btn-secondary">
            <input type="radio" class="btn-group-toggle" asp-for="Team" value="@team" />@team
        </label>
        }
    </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
    </form>
</div>

