@page "{BallotId:int?}"
@model BallotPalette.Pages.Ballots.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editing @Model.Ballot.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Ballot.Id" />
    <div class="form-group">
        <label asp-for="Ballot.Name"></label>
        <input asp-for="Ballot.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Ballot.Name"></span>
    </div>
    <div id="q_container" class="row mb-5">
        <div class="col-md-4 order-md-1">
            <div class="mb-3">
                <input class="form-control" placeholder="Question" />
                <input class="form-control" placeholder="Option 1" />
                <input class="form-control" placeholder="Option 2" />
                <input class="form-control" placeholder="Option 3 (Optional)" />
                <input class="form-control" placeholder="Option 4 (Optional)" />
                <input class="form-control" placeholder="Option 5 (Optional)" />
                <input class="form-control" placeholder="Option 6 (Optional)" />
            </div>
        </div>

        <div class="col-md-4 order-md-1">
            <div class="mb-3">
                <input class="form-control" placeholder="Question" />
                <input class="form-control" placeholder="Option 1" />
                <input class="form-control" placeholder="Option 2" />
                <input class="form-control" placeholder="Option 3 (Optional)" />
                <input class="form-control" placeholder="Option 4 (Optional)" />
                <input class="form-control" placeholder="Option 5 (Optional)" />
                <input class="form-control" placeholder="Option 6 (Optional)" />
            </div>
        </div>

        <div class="col-md-4 order-md-1">
            <div class="mb-3">
                <input class="form-control" placeholder="Question" />
                <input class="form-control" placeholder="Option 1" />
                <input class="form-control" placeholder="Option 2" />
                <input class="form-control" placeholder="Option 3 (Optional)" />
                <input class="form-control" placeholder="Option 4 (Optional)" />
                <input class="form-control" placeholder="Option 5 (Optional)" />
                <input class="form-control" placeholder="Option 6 (Optional)" />
            </div>
        </div>

        <div class="col-md-4 order-md-1">
            <div class="mb-3">
                <input class="form-control" placeholder="Question" />
                <input class="form-control" placeholder="Option 1" />
                <input class="form-control" placeholder="Option 2" />
                <input class="form-control" placeholder="Option 3 (Optional)" />
                <input class="form-control" placeholder="Option 4 (Optional)" />
                <input class="form-control" placeholder="Option 5 (Optional)" />
                <input class="form-control" placeholder="Option 6 (Optional)" />
            </div>
        </div>

        <div class="col-md-4 order-md-1">
            <div class="mb-3">
                <input class="form-control" placeholder="Question" />
                <input class="form-control" placeholder="Option 1" />
                <input class="form-control" placeholder="Option 2" />
                <input class="form-control" placeholder="Option 3 (Optional)" />
                <input class="form-control" placeholder="Option 4 (Optional)" />
                <input class="form-control" placeholder="Option 5 (Optional)" />
                <input class="form-control" placeholder="Option 6 (Optional)" />
            </div>
        </div>

        <div class="col-md-4 order-md-1">
            <div class="mb-3">
                <input class="form-control" placeholder="Question" />
                <input class="form-control" placeholder="Option 1" />
                <input class="form-control" placeholder="Option 2" />
                <input class="form-control" placeholder="Option 3 (Optional)" />
                <input class="form-control" placeholder="Option 4 (Optional)" />
                <input class="form-control" placeholder="Option 5 (Optional)" />
                <input class="form-control" placeholder="Option 6 (Optional)" />
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <button type="submit" class="btn btn-lg btn-block btn-primary">Submit Ballot and continue</button>
    </div>
</form>